version: "3.9"

services:
  gateway:
    build: ./backend/gateway
    # image: gateway-image
    container_name: gateway
    platform: linux/amd64
    ports:
      - "4000:4000"
    networks:
        - web
    volumes:
        - ./frontend:/var/www/html/frontend
  # user:
  #   build: ./backend/services/user
  #   image: user-image
  #   container_name: user
  #   command: sh -c "npx prisma migrate dev --name init && npm run start "
  #   networks: 
  #       - web
  # chat:
  #   build: ./backend/services/chat
  #   image: chat-image
  #   container_name: chat
  #   command: sh -c "npx prisma migrate dev --name init && npm run start "
  #   networks: 
  #       - web
  # game:
  #   build: ./backend/services/game
  #   image: game-image
  #   container_name: game
  #   command: sh -c "npx prisma migrate dev --name init && npm run start "
  #   networks: 
  #       - web
  # notify:
  #   build: ./backend/services/notify
  #   image: notify-image
  #   container_name: notify
  #   command: sh -c "npx prisma migrate dev --name init && npm run start "
  #   networks: 
  #       - web
  

networks:
  web:
    driver: bridge

  