version: "3.9"

services:
  caddy:
    image: caddy:latest
    container_name: caddy
    restart: always
    ports:
      - "8080:80"
      - "4000:4000"
    volumes:
      - ./frontend/Caddyfile:/etc/caddy/Caddyfile:ro
      - ./frontend/src:/etc/caddy/files
    networks:
      - web

  redis:
    image: redis:7
    container_name: redis
    restart: always
    networks:
      - web
    volumes:
      - ./data/redis:/data
    command: ["redis-server", "--appendonly", "yes", "--dir", "/data", "--appendfilename", "appendonly.aof"]

  rabbitmq:
    image: rabbitmq
    container_name: rabbitmq
    restart: always
    networks:
      - web

  swagger-ui:
    image: swaggerapi/swagger-ui:latest
    container_name: swagger
    restart: always
    ports:
      - "9090:8080"
    environment:
      - URLS=[{"url":"http://localhost:4000/api/auth/docs/json","name":"Auth Service"},{"url":"http://localhost:4000/api/user/docs/json","name":"User Service"}]
    networks:
      - web

  gateway:
    build: ./backend/gateway
    image: gateway-image
    container_name: gateway
    restart: always
    command: sh -c "sleep 6 && npm run start"
    volumes:
      - ./frontend/src/uploads:/tmp/
      - ./backend/gateway/src:/gateway/src
    env_file:
      - ./backend/gateway/.env
    networks:
      - web

  auth:
    build: ./backend/services/auth
    image: auth-image
    container_name: auth
    restart: always
    command: >
      sh -c "
      sleep 6 &&
      npx prisma migrate dev --name init &&
      npm run start
      "
    env_file:
      - ./backend/services/auth/.env
    ports:
      - "5001:5555"
    volumes:
      - ./backend/services/auth/src:/auth/src
      - ./backend/services/auth/prisma:/auth/prisma  # mounted DB folder
    networks:
      - web

  user:
    build: ./backend/services/user
    image: user-image
    container_name: user
    restart: always
    command: >
      sh -c "
      sleep 6 &&
      npx prisma migrate dev --name init &&
      npm run start
      "
    env_file:
      - ./backend/services/user/.env
    ports:
      - "5002:5555"
    volumes:
      - ./frontend/src/uploads:/tmp/
      - ./backend/services/user/src:/user/src
      - ./backend/services/user/prisma:/user/prisma  # mounted DB folder
    networks:
      - web

  notify:
    build: ./backend/services/notify
    image: notify-image
    container_name: notify
    restart: always
    command: >
      sh -c "
      sleep 6 &&
      npx prisma migrate dev --name init &&
      npm run start
      "
    env_file:
      - ./backend/services/notify/.env
    ports:
      - "5003:5555"
    volumes:
      - ./backend/services/notify/src:/notify/src
      - ./backend/services/notify/prisma:/notify/prisma  # mounted DB folder
    networks: 
      - web

  chat:
    build: ./backend/services/chat
    image: chat-image
    container_name: chat
    restart: always
    command: >
      sh -c "
      sleep 6 &&
      npx prisma migrate dev --name init &&
      npm run start
      "
    env_file:
      - ./backend/services/chat/.env
    ports:
      - "5004:5555"
    volumes:
      - ./backend/services/chat/src:/chat/src
      - ./backend/services/chat/prisma:/chat/prisma  # mounted DB folder
    networks: 
      - web

  game:
    build: ./backend/services/game
    image: game-image
    container_name: game
    restart: always
    command: >
      sh -c "
      sleep 6 &&
      npx prisma migrate dev --name init &&
      npm run dev
      "
    env_file:
      - ./backend/services/game/.env
    ports:
      - "3000:3000"
      - "5005:5555"
    volumes:
      - ./backend/services/game/src:/game/src
      - ./backend/services/game/prisma:/game/prisma  # mounted DB folder
    networks: 
      - web

networks:
  web:
    driver: bridge
