version: "3.9"

services:
  caddy:
    image: caddy:latest
    container_name: caddy
    restart: always
    ports:
      - "8080:80"
      - "4000:4000"
    volumes:
      - ./frontend/Caddyfile:/etc/caddy/Caddyfile:ro
      - ./frontend/src:/etc/caddy/files
    networks:
      - web

  redis:
    image: redis:7
    container_name: redis
    restart: always
    networks:
      - web
    volumes:
      - redis_data:/data
    command: ["redis-server", "--appendonly", "yes", "--dir", "/data", "--appendfilename", "appendonly.aof"]

  rabbitmq:
    image: rabbitmq
    container_name: rabbitmq
    restart: always
    networks:
      - web

  swagger-ui:
    image: swaggerapi/swagger-ui:latest
    container_name: swagger
    restart: always
    ports:
      - "9090:8080"
    environment:
      - URLS=[{"url":"http://localhost:4000/api/auth/docs/json","name":"Auth Service"},{"url":"http://localhost:4000/api/user/docs/json","name":"User Service"}]
    networks:
      - web

  gateway:
    build: ./backend/gateway
    image: gateway-image
    container_name: gateway
    restart: always
    command: sh -c "sleep 6 && npm run start"
    volumes:
      - ./frontend/src/uploads:/tmp/
      - ./backend/gateway/src:/gateway/src   # ✅ live reload
    env_file:
      - ./backend/gateway/.env
    networks:
      - web

  auth:
    build: ./backend/services/auth
    image: auth-image
    container_name: auth
    restart: always
    command: sh -c "sleep 6 && npx prisma migrate dev --name init && npm run start"
    env_file:
      - ./backend/services/auth/.env
    volumes:
      - ./backend/services/auth/src:/auth/src   # ✅ live reload
    networks:
      - web

  user:
    build: ./backend/services/user
    image: user-image
    container_name: user
    restart: always
    command: sh -c "sleep 6 && npx prisma migrate dev --name init && npm run start"
    env_file:
      - ./backend/services/user/.env
    volumes:
      - ./frontend/src/uploads:/tmp/
      - ./backend/services/user/src:/user/src   # ✅ live reload
    networks:
      - web

  notify:
    build: ./backend/services/notify
    image: notify-image
    container_name: notify
    restart: always
    env_file:
      - ./backend/services/notify/.env
    command: sh -c "sleep 6 && npx prisma migrate dev --name init && npm run start"
    volumes:
      - ./backend/services/notify/src:/notify/src   # ✅ live reload
    networks: 
      - web
  chat:
    build: ./backend/services/chat
    image: chat-image
    container_name: chat
    restart: always
    env_file:
      - ./backend/services/chat/.env
    command: sh -c "sleep 6 && npx prisma migrate dev --name init && npm run start"
    volumes:
      - ./backend/services/chat/src:/chat/src   # ✅ live reload
    networks: 
      - web
  game:
    build: ./backend/services/game
    image: game-image
    container_name: game
    restart: always
    env_file:
      - ./backend/services/game/.env
    ports:
      - "3000:3000"
    volumes:
      - ./backend/services/game/src:/game/src   # ✅ live reload
    command: sh -c "sleep 6  && npx prisma migrate dev --name init && npm run dev"
    networks: 
      - web

volumes:
  redis_data:

networks:
  web:
    driver: bridge
