version: "3.9"

services:
  caddy:
    image: caddy:latest
    container_name: caddy
    ports:
      - "8080:80"
      - "4000:4000"
    volumes:
      - ./frontend/Caddyfile:/etc/caddy/Caddyfile:ro
      - ./frontend/src:/etc/caddy/files
    networks:
      - web

  redis:
    image: redis:7
    container_name: redis
    networks:
        - web

  rabbitmq:
    image: rabbitmq
    container_name: rabbitmq
    networks:
        - web

  gateway:
    build: ./backend/gateway
    image: gateway-image
    container_name: gateway
    volumes:
      - ./frontend/src/uploads:/tmp/
    env_file:
      - ./backend/gateway/.env
    command: sh -c "sleep 6 && npx prisma migrate dev --name init && npm run start "
    networks:
        - web
    
  user:
    build: ./backend/services/user
    image: user-image
    container_name: user
    command: sh -c "sleep 6 && npx prisma migrate dev --name init && npm run start "
    env_file:
      - ./backend/services/user/.env
    volumes:
      - ./frontend/src/uploads:/tmp/
    networks:
        - web
  # chat:
  #   build: ./backend/services/chat
  #   image: chat-image
  #   container_name: chat
  #   env_file:
  #     - ./backend/services/chat/.env
  #   command: sh -c "sleep 15 && npx prisma migrate dev --name init && npm run start "
  #   networks: 
  #       - web
  notify:
    build: ./backend/services/notify
    image: notify-image
    container_name: notify
    env_file:
      - ./backend/services/notify/.env
    command: sh -c "sleep 10 && npm run start "
    networks: 
        - web
  # game:
  #   build: ./backend/services/game
  #   image: game-image
  #   container_name: game
  #   env_file:
  #       - ./backend/services/game/.env
  #   command: sh -c "npx prisma migrate dev --name init && npm run start "
  #   networks: 
  #       - web

networks:
  web:
    driver: bridge